<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('sections/head')%>
    <style>
        html {
            background: white !important;
        }

        @media (min-width: 576px) {
            .modal-dialog-xlg {
                max-width: 90%;
                margin: 1.75rem auto;
            }
        }

        .list-group-item {
            border-top: 1px solid #eee !important;
            margin-bottom: 5px;
            padding: 8px;
        }
    </style>
</head>

<body>
    <%- include('sections/navbar') %>
    <div class="container mt-4" style="min-height: 75vh;">
      
        <div class="row-cols-1 mx-auto">
            <div class="text-center mt-1">
                <h2 class="h1 my-4">Test candidats - Visions</h2>
            </div>
            <div>
                <p>Bienvenue sur le test candidats de Visions !</p>
                <p>Les tâches que nous vous demandons de faire ici permettront de tester votre maîtrise de certaines compétences que nous utilisons quotidiennement chez Visions.</p>
                <p>Ces compétences sont : </p>
                <ul>
                    <li>Utilisation de NodeJS & Express</li>
                    <li>MongoDB & mongoose</li>
                    <li>Navigation dans une architecture MVC</li>
                    <li>Developpement backend</li>
                    <li>Autonomie</li>
                </ul>

                <p>Vous êtes plusieurs candidats à effectuer ce test sur une même période, de fait vous n'aurez pas accès à l'écriture dans la base de données.</p>

                <p>Avant de commencer, assurez-vous d'avoir bien indiqué les variables qui vous ont été transmises au sommet du fichier app.js</p>

                <p>La partie 1 de ce test sera d'écrire la logique backend qui permettra de générer correctement la page "Traitements". Les détails de cette étape sont indiqués sur la page en question.</p>

                <p>La partie 2 de ce test vous demandera de réfléchir à une méthode d'insertion en base de données, et requiert la première partie de terminée pour bien comprendre celle-ci.<br/>
                En partant de ce que vous avez réalisé sur la partie 1, supposez que lorsque l'on clique sur un datatype dans la liste de données d'un purpose, un appel AJAX est fait et doit mettre à jour le purpose en question. Ajouter ou retirer le datatype du purpose.<br/>
                Créez la route et la méthode du controller adaptées pour pouvoir réaliser cela.</p>

                <p>Vous présenterez vos résultats et votre démarche sur un entretien en direct avec nous.</p>

                <p>Bon courage !</p>
            </div>
        </div>

    </div>

    <div class="d-flex align-items-center justify-content-center p-3 bg-dark text-white">
        <p class="footer datause_footer">© Copyright 2020 Visions</p>
    </div>
</body>